.titulo-principal{
    text-align: center;
    font-size: 27px;
}
.titulo-principal span{
  color: rgb(165, 42, 122);
}
.menu-nav a{
   text-decoration: none;
   color: black;
   font-size: 23px;
}


/* flex box  */

.menu-nav{    

    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
